<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  <a href="http://smooth-mountain-9532.herokuapp.com">kTweet!</a>
  kTweet is a Twitter Clone! Building this has been fun... 
  Thanks to all the wonderful Rails developers out there who've shared so much info on Rails dev.
</p>
