@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

$full-width: 750px;
$background-color: #cff;
$link-color: #09c;
$visited-link-color: #069;

.container {
  width: $full-width;
}

body {
  background: $background-color;
}

header {
  padding-top: 20px;

  img {
    padding: 1em;
    background: white;
  }
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 30px;
  background: white;

  h1 {
    font-size: 200%;
  }
}

/* Links */

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $visited-link-color;
    text-decoration: underline;
  }

  &:visited {
    color: $visited-link-color;
  }
}

/* Navigation */

nav {
  float: right;
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      display: inline-block;
      padding: 0.2em 0;

      a {
        padding: 0 5px;
        font-weight: bold;

        &:visited {
          color: $link-color;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: white;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: $full-width;
  margin-left: auto;
  margin-right: auto;

  nav {
    float: none;
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }
