<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Jobs", contact_path %></li>
      <li><%= link_to "Terms", contact_path %></li>
    </ul>
  </nav>
</footer>
